{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>Baylor's UYP program for students identified as gifted and talented is offered every June. Classes for students entering 4th - 12th grade are held on the Baylor campus. Students may choose from dozens of courses, taking one in the morning and one in the afternoon. The optional all-day schedule includes lunch and a recreational time between the two class sessions.

Students entering grades 1-4 may attend one-week UYP sessions held on school campuses. The topics and locations of these programs vary. Check this site for timely announcements. </p>
{% endblock %}
