{% extends 'adminlayout.html' %}

{% block body %}

<form action="", method="POST">
    <h2>Application for {{student[1]}} {{student[2]}}</h2>
    <br/>
    <table class="table table-dark" margin="top">
      <tr>
      <th>StudentID:</th><th>{{student[0]}}</th>
      </tr>
      <tr>
      <th>First Name: </th><th>{{student[1]}}</th>
      </tr>
      <tr>
      <th>Last Name: </th><th>{{student[2]}}</th>
      </tr>
      <tr>
       <th>Middle Inital: </th><th>{{student[3]}}</th>
      </tr>
      <tr>
       <th>Suffix:</th><th>{{student[4]}}</th>
      </tr>
      <tr>
      <th>Preferred Name:</th><th>{{student[5]}}</th>
      </tr>
      <tr>
      <th>Address Line 1:</th><th>{{student[6]}}</th>
      </tr>
      <tr>
      <th>Address Line 2:</th><th>{{student[7]}}</th>
      </tr>
      <tr>
      <th>City:</th><th>{{student[8]}}</th>
      </tr>
      <tr>
      <th>State:</th><th>{{student[9]}}</th>
      </tr>
      <tr>
      <th>Zip:</th><th>{{student[10]}}</th>
      </tr>
      <tr>
      <th>Birthdate: </th><th>{{student[11]}}</th>
      </tr>
      <tr>
      <th>Gender: </th><th>{{student[12]}}</th>
      </tr>
      <tr>
      <th>Ethnicity: </th><th>{{student[13]}}</th>
      </tr>
      <tr>
      <th>Phone: </th><th>{{student[14]}}</th>
      </tr>
      <tr>
      <th>Email: </th><th>{{student[15]}}</th>
      </tr>
      <tr>
      <th>Gifted and Talented?: </th><th>{{student[16]}}</th>
      </tr>
      <tr>
      <th>Siblings: </th><th>{{student[17]}}</th>
      </tr>
      <tr>
      <th>School Type: </th><th>{{school[1]}}</th>
      </tr>
      <tr>
      <th>School Name: </th><th>{{school[2]}}</th>
      </tr>
      <tr>
      <th>School District: </th><th>{{school[3]}}</th>
      </tr>
      <tr>
      <th>Current Grade: </th><th>{{school[4]}}</th>
      </tr>
      <tr>
      <th>Expected High School: </th><th>{{school[5]}}</th>
      </tr>
      <tr>
      <th>Graduation Year: </th><th>{{school[6]}}</th>
      </tr>
      <tr>
      <th>First Year Accepted: </th><th>{{uyp[1]}}</th>
      </tr>
      <tr>
      <th>Grade When Accepted: </th><th>{{uyp[2]}}</th>
      </tr>
      <tr>
      <th>Current UYP Status: </th><th>{{uyp[3]}}</th>
      </tr>
      <tr>
      <th>Grant Status: </th><th>{{uyp[4]}}</th>
      </tr>
      <tr>
      <th>Grant Name: </th><th>{{uyp[5]}}</th>
      </tr>
      <tr>
      <th>National Clearing House Info: </th><th>{{uyp[6]}}</th>
      </tr>
      <tr>
      <th>Learning English?: </th><th>{{uyp[7]}}</th>
      </tr>
      <tr>
      <th>Mentors: </th><th>{{uyp[8]}}</th>
      </tr>
      <tr>
      <th>Health Conditions: </th><th>{{health[1]}}</th>
      </tr>
      <tr>
      <th>Any Disabilities: </th><th>{{disability[1]}}</th>
      </tr>
      <p><input type="submit" name="Accept" class="btn btn-primary" value="Accept"> <input type="submit" name="Decline" class="btn btn-primary" value="Decline"></p>
</form>

{% endblock %}
