{% extends 'layout.html' %}

{% block body %}

<div id="main" margin="top">
    <h2>My Profile</h2>
    <br/>
    <table class="table table-dark" margin="top">
      <tr>
      <th>StudentID:</th><th>{{user[0]}}</th>
      </tr>
      <tr>
      <th>First Name: </th><th>{{user[1]}}</th>
      </tr>
      <tr>
      <th>Last Name: </th><th>{{user[2]}}</th>
      </tr>
      <tr>
       <th>Middle Inital: </th><th>{{user[3]}}</th>
      </tr>
      <tr>
       <th>Suffix:</th><th>{{user[4]}}</th>
      </tr>
      <tr>
      <th>Preferred Name:</th><th>{{user[5]}}</th>
      </tr>
      <tr>
      <th>Address Line 1:</th><th>{{user[6]}}</th>
      </tr>
      <tr>
      <th>Address Line 2:</th><th>{{user[7]}}</th>
      </tr>
      <tr>
      <th>City:</th><th>{{user[8]}}</th>
      </tr>
      <tr>
      <th>State:</th><th>{{user[9]}}</th>
      </tr>
      <tr>
      <th>Zip:</th><th>{{user[10]}}</th>
      </tr>
      <tr>
      <th>Birthdate: </th><th>{{user[11]}}</th>
      </tr>
      <tr>
      <th>Gender: </th><th>{{user[12]}}</th>
      </tr>
      <tr>
      <th>Ethnicity: </th><th>{{user[13]}}</th>
      </tr>
      <tr>
      <th>Phone: </th><th>{{user[14]}}</th>
      </tr>
      <tr>
      <th>Email: </th><th>{{user[15]}}</th>
      </tr>
      <tr>
      <th>Graduation Year: </th><th>{{user[16]}}</th>
      </tr>
      <tr>
      <th>Gifted and Talented?: </th><th>{{user[17]}}</th>
      </tr>
</div>

{% endblock %}
