{% extends 'layout.html' %}

{% block body %}
  <h1>{{user[2]}}, {{user[1]}} {{user[3]}} {{user[4]}}</h1>
  StudentID: {{user[0]}}
  <br/>
  First Name: {{user[1]}}
  <br/>
  Last Name: {{user[2]}}
  <br/>
   Middle Inital: {{user[3]}}
  <br/>
   Suffix: {{user[4]}}
  <br/>
  Preferred Name: {{user[5]}}
  <br/>
  Address Line 1: {{user[6]}}
  <br/>
  Address Line 2: {{user[7]}}
  <br/>
  City: {{user[8]}}
  <br/>
  State: {{user[9]}}
  <br/>
  Zip: {{user[10]}}
  <br/>
  Birthdate: {{user[11]}}
  <br/>
  Gender: {{user[12]}}
  <br/>
  Ethnicity: {{user[13]}}
  <br/>
  Phone: {{user[12]}}
  <br/>
  Email: {{user[13]}}
  <br/>
  Graduation Year: {{user[14]}}
  <br/>
  Gifted and Talented?: {{user[15]}}
  <br/>



  <hr>
  <div>

  </div>
{% endblock %}
